/.gradle/
/.idea/
/.settings/
/.vscode/
/bin/
/build/
/libs/
/out/
/testDir/

/src/main/antlr/
/src/main/java/cpp/
/src/test/resources/

.classpath
.project

log.txt

*.iml
*.xml
